.container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #222;
  color: white;
}

.button {
  height: 30px;
  margin-left: 10px;
  background-color: #B68D40;
  color: white;
  font-size: large;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.container1 {
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  background-color: #222;
  color: white;
}

.container3 {
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: #222;
  color: white;
}

.container2 {
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: #222;
  color: white;
  border: #B68D40 1px dashed;
  width: 80%;
  height: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .title {
    text-align: center;
  }

}